body {
    font-family: sans-serif;
}

ul.games {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.game {
    display: inline-block;
    background-color: #4da0dc;
    border: 2px solid #333;
    margin: 0 10px 10px 0;
}

h1 {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.5;
    margin: 0 5px 0 0;
}

h1 .four {
    color: red;
}

h2, h3 {
    color: white;
    margin: 0;
    padding: 5px;
    background-color: #666;
    border-bottom: 1px solid #333;
}

h3 {
    text-align: right;
}

table.board {
    margin: 0 auto;
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    border-spacing: 0;
}

table.board th {
    border-bottom: 1px solid #333;
}

table.board td, table.board th {
    line-height: 1;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

td.cell {
    transform: scale(4.7);
}

td.cell.empty {
    color: #17406e;
}

td.cell.player1 {
    color: #ece13a;
}

td.cell.player2 {
    color: #cc2614;
}

